* {
  margin: 0;
  padding: 0;
}

.color {
  color: #fff !important;
  background-color: #cc6666 !important;
  border-color: #cc6666 !important;
}

.bg-darkblue {
  background-color: #091f43;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90%;
  width: 70%;
  margin-top: 3.4rem;
  background-color: #d3d3d317;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 465px;
  margin: 1rem 0 1rem 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

.pp {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.profil-name {
  font-size: 1.8rem;
}

.publi-moment {
  font-size: 1rem;
  color: grey;
}

.card-contener {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.card-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 85%;
}

.option {
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

.fa-search {
  color: green;
}

.btn-outline-success:hover > .fa-search {
  color: white;
}

.liked {
  color: #cc6666;
}

.fa-home {
  color: #fff;
}

.card-body {
  padding: 0.6rem 0.6rem !important;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  width: 320px;
}

.options {
  z-index: 3;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  right: 1%;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.notifbox {
  background-color: #cc6666;
  position: absolute;
  width: 500px;
  height: 1635%;
  border-radius: 1%;
  top: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  left: 0%;
}

.liaison {
  top: 71%;
  background-color: #cc6666;
  position: absolute;
  width: 138px;
  left: 194px;
  height: 19px;
}

.notif {
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  min-height: 80px;
  background-color: grey;
  border-radius: 2%;
}

.user {
  font-weight: bold;
}

.info-notif {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.notif-moment {
  font-size: 1.3rem;
}

/*Séparation*/

.titre {
  width: 1100px;
  height: 300px;
  background-color: #cc6666;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 125px 0;
}

h1 {
  font-size: 10rem;
  color: #091f43;
  font-family: "Roboto";
  margin-top: 0px;
}

#connection {
  width: 100%;
  height: 100vh;
  flex-flow: row wrap !important;
  justify-content: space-between !important;
  background-color: #091f43;
}

#index {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

#carousel {
  width: 800px;
  margin-bottom: 10%;
  margin-left: 10%;
}

.item {
  width: 800px;
  height: 450px;
}

#signup {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
}

#signup > h2,
#signup > label {
  color: white;
}

#signup > a {
  color: #cc6666;
}

input[type="search"] {
  width: 250px;
}

.d-flex {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 813px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn {
  font-size: 17px !important;
}

.card-img {
  width: 450px;
}

button {
  padding: 1px 6px !important;
}

#signin {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 255px;
  margin-top: 100px;
}

#signin > a {
  color: #cc6666;
}

#signin > h2,
#signin > label {
  color: white;
}

#signin > input {
  width: 200px;
  height: 30px;
}
